<div class="card" style="width: 18rem;">
    <img src="{{personaje.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ personaje.nombre }}</h5>
      <p class="card-text">Una persona soberbia es aquella que exhibe un exceso de orgullo, vanidad o arrogancia. Es alguien que se considera superior a los demás, menosprecia a los demás y tiende a menospreciar las opiniones o logros de los demás. La soberbia a menudo lleva a comportamientos condescendientes y a la falta de humildad.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ personaje.vision }}</li>
      <li class="list-group-item">{{ personaje.arma }}</li>
      <li class="list-group-item">{{ personaje.region }}</li>
    </ul>
    <div class="card-body">
      <a routerLink="#" class="card-link">Card link</a>
      <a routerLink="#" class="card-link">Another link</a>
    </div>
</div>